.inputContainer {
    position: relative;
    margin-block: 16px;
    width: 100%;
    min-width: 310px;
}

.label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.2s ease;
    color: #999;
}

.label.filled {
    top: -12px;
    left: 15px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid rgba(177, 169, 169, 0.77);
    color: #474444;
    background: #f0fffa;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease;
}

.input:focus {
    border-color: #666;
}